<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Hand Gesture Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

        <link rel="stylesheet" href="/static/css/fontAwesome.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">

    </head>

<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">

                    <a href="#" class="navbar-brand scroll-top"><em>H</em>and<em>G</em>esture<em>P</em>roject</a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="" class="scroll-top">Home</a></li>
                        <li><a href="#about" class="scroll-link" data-id="about">About</a></li>

                        <li><a href="#working" class="scroll-link" data-id="working">working</a></li>
                        <li><a href="#contact" class="scroll-link" data-id="contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="text-content">
                <h2><em>Project</em> <span>Working</span></h2>
                <p>Click the Button Below to see the working of our hand GestureProject. Thank you.</p>
                <div class="primary-white-button">
                    <a href="pro" class="scroll-link" data-id="about">Run Project</a>
                   <!-- <a href="pro" class="scroll-link" data-id="about">Close Project</a>-->
                </div>
            </div>
        </div>
    </div>


    <section id="about" class="page-section">
         <h1 style="text-align:center;margin-top:-100px;color:white;">Libraries used</h1>
        <div class="container">

            <div class="row">

                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">
                        <div class="icon">
                            <img src="/static/img/mediapipe.png" alt="">
                        </div>
                        <h4>MediaPipe</h4>
                        <div class="line-dec"></div>
                        <p>MediaPipe is Google’s open-source framework, used for media processing. It is cross-platform or we can say it is platform friendly. </p>
                        <div class="primary-blue-button">
                            <a href="https://mediapipe.dev/#!" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_03.png" alt="">
                        </div>
                        <h4>PyAutoGUI</h4>
                        <div class="line-dec"></div>
                        <p>PyAutoGUI lets your Python scripts control the mouse and keyboard to automate interactions with other applications. The API is designed to be simple.</p>
                        <div class="primary-blue-button">
                            <a href="https://pyautogui.readthedocs.io/en/latest/" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_04.png" alt="">
                        </div>
                        <h4>pynput</h4>
                        <div class="line-dec"></div>
                        <p>The package pynput. keyboard contains classes for controlling and monitoring the keyboard. pynput is the library of Python that can be used to capture keyboard inputs </p>
                        <div class="primary-blue-button">
                            <a href="https://pynput.readthedocs.io/en/latest/index.html" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">
                        <div class="icon">
                            <img src="/static/img/mediapipe.png" alt="">
                        </div>
                        <h4>opencv</h4>
                        <div class="line-dec"></div>
                        <p>OpenCV is the huge open-source library for the computer vision, machine learning, and image processing and now it plays a major role in real-time operation which is very important in today’s systems.</p>
                        <div class="primary-blue-button">
                            <a href="https://www.geeksforgeeks.org/opencv-overview/" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">
                        <div class="icon">
                            <img src="/static/img/mediapipe.png" alt="">
                        </div>
                        <h4>Numpy</h4>
                        <div class="line-dec"></div>
                        <p>MediaPipe is Google’s open-source framework, used for media processing. It is cross-platform or we can say it is platform friendly.</p>
                        <div class="primary-blue-button">
                            <a href="https://numpy.org/" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <!--  <section id="working" class="page-section">
         <h1 style="text-align:center;margin-top:-100px;color:white;">Working</h1>
        <div class="container">

            <div class="row">

                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">

                            <img src="/static/img/gesture1.png" alt="" class="img">

                        <h4></h4>
                        <div class="line-dec"></div>


                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">

                            <img src="/static/img/gesture2.png" alt="" class="img">

                        <h4>click</h4>
                        <div class="line-dec"></div>


                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">

                            <img src="/static/img/gesture3.png" alt="" class="img">

                        <h4>click</h4>
                        <div class="line-dec"></div>


                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">

                            <img src="/static/img/gesture5.png" alt="" class="img">

                        <h4>click</h4>
                        <div class="line-dec"></div>


                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">

                    <div class="service-item">

                            <img src="/static/img/gesture5.png" alt="" class="img">

                        <h4>click</h4>
                        <div class="line-dec"></div>


                    </div>
                </div>


            </div>
        </div>
    </section>
-->


    <div id="map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.904935793515!2d77.72152201468502!3d12.913831190893822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae129321d22579%3A0x9a0e44eb787093e6!2sKrupanidhi%20Degree%20College!5e0!3m2!1sen!2sin!4v1643634430459!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <footer>
        <section id="contact" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a class="logo-ft scroll-top" href="#"><em>HGP</em>roject</a>
                        <p>Copyright &copy; 2020 Your Company
                       </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>Location</h4>
                        <ul>
                            <li>kashmir, <br>india </li>
                            <li>jharkhand, <br>india </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>More Info</h4>
                        <ul>
                            <li><em>Phone</em>: 1234567890</li>
                            <li><em>Phone</em>: 0987654321</li>
                            <li><em>Email</em>: 123@gmail.com</li>
                            <li><em>Email</em>: 321@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>Get Social with us</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            </section>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>